.result{
  float: left;
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 350px;
}
.result .name img{
  float: left;
  width: 25px;
  height: 25px;
  padding-top: 10px;
  margin-top: 15px;
  margin-left: 30px;
}
.result .name h2{
  float: left;
  color: #000;
  margin-left: 10px;
  margin-top: 17px;
  padding-top: 10px;
  font-size:20px;
  font-weight:bold;
}
.result .name h3{
  float: left;
  font-size:20px;
  font-weight:bold;
  margin-top: 14px;
  margin-left: 190px;
}
.result table{
  margin-top: 50px;
  margin-left: 10%;
  border: 3px solid #000000;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}
.result table td{
  border: 1px solid #000000;
  font-size:20px;
}
.result a{
  text-decoration:none;
  display:block;
  width: 20%;
  float: left;
  background:#a1d7d6;
  color:white;
  font-size:25px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 15px;
  margin-left: 30px;
  margin-top: 30px;
}
.bcontent{
  margin-top: 30px;
  margin-left: 30px;
}
.noticec{
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-left:20px;
  margin-top: 20px;
}
.nt .name h4{
  float: left;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 28px;
}
.person h5{
  margin-left: 85%;
  margin-top: 10%;
  font-size: 10px;
}
.nt{
  float: left;
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 500px;
}
.feedback{
  float: left;
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 350px;
}
.word{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}
.feedback input{
  margin-left: 30px;
  font-size: 15px;
}
.feedback p{
  font-size: 20px;
  margin-left: 20px;
}
.alla{
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 95%;
}
.acontent{
  height: 110%;
}
.tb{
  float: left;
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 350px;
}
.tb .next{
  margin-left: 30px;
  margin-top: 20px;
}
.tb input{
  margin-top: 20px;
  margin-left:10px;
}
.tb a{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  display: block;
}
.tb select{
  margin-top: 20px;
  margin-left:10px;
}
.tb table{
  font-size:20px;
  margin-left: 30px;
  margin-top: 30px;
}
.tb td{
  border: 1px solid #000000;
  padding: 3px;
  width: 150px;
  text-align: center;
}
.admin{
  float: left;
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 90%
}
.admin a{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  display: block;
}
.admin table{
  font-size:20px;
  margin-left: 30px;
  margin-top: 30px;
}
.admin td{
  border: 1px solid #000000;
  padding: 3px;
  text-align: center;
  font-size:20px;
}
.admin .back{
  margin-left: 30%;
  margin-top: 12px;
  font-size: 20px;
  color: blue;
}
.admin .rb{
  font-size:20px;
  margin-left:0px;
  margin-top:0px;
  
}
.admin input{
  margin-left: 30px;
  margin-top:20px;
  font-size: 15px;
}
.admin textarea{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 15px;
}
.stall .back{
  margin-left: 30%;
  margin-top: 12px;
  font-size: 20px;
  color: blue;
}
.stcontent{
  height:100%;
}
.stall{
  background: white;
  margin-top: 20px;
  margin-left: 7%;
  width: 85%;
  border:        4px solid #cccccc;
  border-radius: 15px;
  box-shadow:    1px 0 #eeeeee;
  height: 90%
}
.stall table{
  font-size:20px;
  margin-left: 25%;
  margin-right:3%;
  margin-top: 30px;
}
.stall td{
  border: 1px solid #000000;
  padding: 3px;
  font-size:20px;
}
.stall h4{
  margin-left:25%;
  margin-top:30px;
  font-size:30px;
  font-weight:bold;
}
.stall h6{
  margin-left:25%;
  margin-top:30px;
  font-size:24px;
  font-weight:bold;
  color:blue;
}
.stall tr:nth-child(even){
  background:	#FFFF77;
}